/* custom css style for Nan Xiao's R package docs sites */

/* resets */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    line-height: 24px;
    color: #212529;
}

/* links */

a {
    color: #4582EC;
}

a:hover, a:focus {
    color: #1559cf;
}

/* pills */

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #4582EC;
}

/* buttons */

.btn-primary {
    color: #FFFFFF;
    background-color: #4582EC;
    border-color: #4582EC;
}

.btn-primary:hover {
    color: #FFFFFF;
    background-color: #226BE8;
    border-color: #1863E6;
}